* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: sans-serif;
}

/* Logo / Project Name */
.title {
	padding-left: 30px;
	color: #939393;
	font-style: italic;
	margin: 20px auto;
	font-family: 'Shadows Into Light', cursive;
}


/*****************************************
	LOGIN PAGE
*****************************************/

/* Login Page Container */
.login-page-container {
	width: 500px;
	margin: 100px auto;
}

.login-form-container {
	display: flex;
}

.login {
	width: 80%;
	padding: 10px;
	border: 2px solid #eee;
}

.password {
	width: 80%;
	padding: 10px;
	border: 2px solid #eee;
}

.login-button {
	font-style: italic;
	font-family: serif;
	border: 2px solid #eee;
	color: #939393;
	padding: 10px;
}


/*****************************************
	CHAT WINDOW
*****************************************/

/* Chat Room Container */
.chat-room-container {
	margin: 0 auto;
	width: 500px;
}

/* Chat Log Viewer */
.chat-log-container {
	width: 500px;
	height: 300px;
	border: 2px solid #eee;
}


/* Type Field Area */
/*---------------------------------------*/

/* Type Field Container*/
.type-field-area {
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin-top: 20px
}

/* Uer Input Field */
.type-field-area > input {
	width: 75%;
	padding-left: 10px;
	border: 2px solid #eee;
}

/* Submit Button */
.type-field-area > button {
	width: 20%;
	color: #939393;
	font-style: italic;
	font-family: serif;
	border: 2px solid #eee;
}