:root {
	--border-color: #0b5bea;
	--font-color: #484848;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-family: "Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
	color: var(--font-color);
}

/* CSS TRANSITIONS by: */
/* https://codepen.io/P1N2O/pen/pyBNzX */
body {
	width: 100wh;
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}


@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* SLACKR Logo */
/*---------------------------------------*/
.title {
	padding-left: 30px;
	font-size: 3em;
	/*color: #cdcdcd;*/
	font-style: italic;
	margin: 20px auto;
	font-family: 'Shadows Into Light', cursive;
}

/* Page Title */
/*---------------------------------------*/
.page-title {
	margin: 20px 0;
}


/*****************************************
	LOGIN PAGE
*****************************************/

/* Login Page Container */
.login-page-container {
	width: 90%;
	max-width: 500px;
	height: 500px;
	margin: 100px auto;
}

/* Login Form Container */
.login-form-container {
	display: flex;
	border-radius: 3px;
	border: 3px solid #eee;
	background: white;
}

/* Login Input Field */
.login {
	width: 40%;
	padding: 10px;
	padding-left: 15px;
	border: none;
}

/* Password Input Field */
.password {
	width: 40%;
	padding: 10px;
	border: 2px solid #eee;
	border: none;
}

/* Login Submit Button */
.login-button {
	width: 20%;
	font-style: italic;
	color: #939393;
	border: none;
	padding: 10px;
}


/*****************************************
	USER REGISTRATION
*****************************************/

/* Registration Page Container */
.registration-container {
	width: 500px;
	height: 500px;
	margin: 0 auto;
}

/* Registration Elements Container*/
.registration-window-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.registration-form-container {
	border: 2px solid #eee;
	border-radius: 3px;
	background: white;
}

/* Create Username */
.register-username {
	width: 40%;
	padding: 10px;
	border: none;
}

/* Input Email for Verification */
.register-password {
	width: 40%;
	padding: 10px;
	border: none;
}

/* Submit User Creation Button */
.create-username-button {
	border: none;
	color: #939393;
	padding: 10px;
	width: 20%;
}


/*****************************************
	CHAT WINDOW
*****************************************/

/* Chat Room Container */
.chat-room-container {
	margin: 0 auto;
	/*width: 500px;*/
	width: 90%;
	max-width: 500px;
}

/* Chat Log Viewer */
.chat-log-container {
	max-width: 500px;
	height: 300px;
	overflow: auto;
	padding: 5px;
	background: white;
	border: 3px solid #eee;
	border-radius: 3px;
}

.message-name {
	color: green;
	font-size: 16px;
	font-weight: 900;
	padding-bottom: 2px;
}

.user-message {
	font-size: 16px;
	font-weight: normal;
	color: var(--font-color);
}

/* Message Timestamp */
.message-timestamp {
	font-size: 12px;
	color: #8c8c8c;
	padding-bottom: 5px;
	font-style: italic;
	font-family: 'IBM Plex Mono', monospace;
}

/* Type Field Area */
/*---------------------------------------*/

/* Type Field Container*/
.type-field-area {
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin-top: 20px;
	border: 3px solid #eee;
	border-radius: 3px;
	background: white;
}

/* User Input Field */
.type-field-area > input {
	width: 100%;
	padding-left: 15px;
	color: var(--font-color);
	border: none;
	background: white;
}

/* Submit Button */
.type-field-area > button {
	width: 20%;
	color: #939393;
	font-style: italic;
	border: none;
	background: white;
}


/*****************************************
	CHANNELS LIST
*****************************************/

@media only screen and (max-width: 500px) {
	.chat-rooms-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}

/* Channels Page Container */
.channels-container {
	width: 100%;
	margin: 0 auto;
	max-width: 500px;
}

.chat-rooms-list {
	overflow: auto;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

/* Individual Channel */
.channel {
	margin: 10px 0;
	font-style: italic;
	border: 3px solid #eee;
	border-radius: 3px;
	padding: 10px;
	background: white;
	text-decoration: none;
}

.bottom-chat-container {
	display: flex;
	margin: 0 auto;
	width: 500px;
}


/*****************************************
	USERS VIEW
*****************************************/

.users-view-container {
	width: 80%;
	height: 100px;
	overflow: auto;
	padding: 5px;
	border: 2px solid #eee;
	background: grey;
}

.users-view-title {
	margin: 10px 0;
	font-size: 16px;
}


/*****************************************
	LOG OUT
*****************************************/

.logout-button {
	width: 100px;
	height: 50px;
	border-radius: 3px;
	border: 2px solid #eee;
	color: #939393;
	font-style: italic;
}

.login-register {
		width: 100px;
	height: 50px;
	border-radius: 3px;
	border: 2px solid #eee;
	color: #939393;
	font-style: italic;
}